h1{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

button{
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4p 8px rgba(0,0,0,0.1);
    padding: 20px;
}

img{
    width: 20%;
}