<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Вчителя</title>
</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}
</style>

<body>
<h1>
    Вчителя
</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Прізвище</td>
        <td>Ім'я</td>
        <td>Побатькові</td>
        <td>Предмет</td>
    </tr>
    {% for teacher in teachers %}
    <tr>
        <td>{{teacher.id}}</td>
        <td>{{teacher.last_name}}</td>
        <td>{{teacher.first_name}}</td>
        <td>{{teacher.patronymic}}</td>
        <td>{{teacher.subject}}</td>
    </tr>

    {% endfor %}

</table>

</body>
</html>

