{% load static %}
<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'form_app/styles/add_data.css' %}">
</head>

<body>

{% block mainmenu %}
<ul class="mainmenu">
{% for m in menu %}
    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
{% endfor %}
</ul>
{% endblock mainmenu %}

<div class="layout">

    <!-- ЛІВЕ МЕНЮ -->
    <aside class="sidebar">
        <ul>
            <li><a href="{% url 'add:add_lessons' %}">Додати урок</a></li>
            <li><a href="{% url 'add:add_teacher' %}">Додати учня </a></li>
            <li><a href="{% url 'add:add_student' %}">Додати вчителя</a></li>
            <li><a href="{% url 'add:add_subject' %}">Додати предмет</a></li>
        </ul>
    </aside>

    <!-- КОНТЕНТ -->
    <div class="content">
        {% block page %}
        {% endblock page %}
    </div>

</div>
 </body>
</html>

