<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Предмети</title>
</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}
</style>

<body>
<h1>
    Предмети
</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Предмет</td>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{subject.id}}</td>
        <td>{{subject.name}}</td>

    </tr>

    {% endfor %}

</table>

</body>
</html>

