table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #26282B;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}
img{
    width: 100%;
}
